/* 기본 reset */
html, body, #__next {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* 폰트 및 배경 */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  background-color: #f5f5f5;
}

/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}

/* Ant Design Layout 기본 높이 */
.ant-layout {
  min-height: 100vh;
}


/* faq 테이블용 */
.faq-row-open td {
  background: #fafafa;

}



/* 체험단 공지글 행 강조 */
.tester-notice-row td {
  background: #fff7e6 !important; /* 연한 주황 */
  font-weight: 600;
}