/* 전체 컨테이너 */
.faq-container {
    width: 80%;
    margin: 40px auto;
}

/* 제목 */
.faq-title {
    text-align: center;
    margin-bottom: 25px;
    font-weight: 600;
}

.faq-table thead th,
.faq-table tbody td {
    vertical-align: middle;
}

/*컬럼 간격 조정 */
.faq-table th:nth-child(1),
.faq-table td:nth-child(1) {
    width: 60px;   
}	
.faq-table th:nth-child(2),
.faq-table td:nth-child(2) {
    width: 100px;   
}

.faq-table th:nth-child(3),
.faq-table td:nth-child(3) {
    width: auto;   
}
.faq-table th:nth-child(4),
.faq-table td:nth-child(4),
.faq-table th:nth-child(5),
.faq-table td:nth-child(5) {
    width: 120px;   
}


.faq-table th:nth-child(6),
.faq-table td:nth-child(6) {
    width: 120px;   
}

/* 상세 행 숨김 */
.faq-detail {
    display: none;
}

/* 상세 내부 테이블 */
.detail-inner-table {
    width: 100%;
}

/* 상세 내용 */
/* 답변 - 일반 텍스트, 왼쪽 정렬 */
.detail .faq-answer {
    margin: 0 0 12px 0;
    padding: 5px 0 0 20px;
    text-align: left;
    color: #333;
    line-height: 1.6;
}

/* 넓이 조정 */
.faq-answer	 {
    max-width: 850px; 
    overflow-wrap: break-word;
}

/* 키워드 - 하단 우측 정렬 */
.detail .faq-keyword-wrap {
    text-align: right;
    padding : 0 5px 5px 0;
}


/* 작성 버튼 */
.write-btn-area {
    text-align: right;
    margin-top: 20px;
}




/* 다른 도움 */
.help-container {
    width: 80%;
    margin: 40px auto;
}

/* 다른 도움 타이틀 */
h4 { 
	text-align: center; 
	margin-bottom: 25px; 
	font-weight: 600; }
	
/* p태그 스타일 순차 정리 */	
.help-container p:nth-child(1) {
   font-size : 25px; 
}

.help-container p:nth-child(2),
.help-container p:nth-child(3){
   font-size : 18px;    
}	
	
.faq-card-wrapper {
    display: flex;
    justify-content: center;  
    gap: 40px;
    flex-wrap: wrap;
}

/* 카드 스타일 */
.faq-directquestion,
.faq-chatroom {
    text-align: center;
    border-radius: 20px;
    border: 2px solid darkgrey;
    padding: 20px;
    width: 350px;

    text-decoration: none;
    color: inherit;
    display: block;

    transition: all 0.2s ease;
}

/* 카드 hover 이동+그림자 효과 */
.faq-directquestion:hover,
.faq-chatroom:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}


/* 카드 hover 시 첫 번째 p만 색 변경 */
.faq-directquestion:hover p:first-of-type,
.faq-chatroom:hover p:first-of-type {
    color: #0d6efd;
    font-weight: 600;
}


